.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo {
  width: 100px;
  display: inline-block;
}

.nav-logo img {
  height: 32px;
  width: 78px;
}

.navbar-nav {
  padding: 10px 0;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.navbar-nav .nav-link:hover {
  color: #767676;
}

.left-nav i {
  color: #fff;
  font-size: 16px;
  margin-left: 40px;
}

.left-nav i:hover {
  color: #b1adad;
}

#entry {
  background-image: url(../img/hero1.jpg);
  height: 752px;
  padding: 230px 0;
  color: #fff;
}

#entry .entry-text {
  color: #fff;
  font-size: 1.8em;
  line-height: 1.6em;
}

#entry #entry-img {
  position: absolute;
  width: 333px;
  bottom: 8px;
  left: 218px;
}

#entry .myBtn {
  background-color: #425cbb;
  position: absolute;
  top: 49px;
  right: 452px;
  border-radius: 100px;
  border-color: #425cbb;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

#entry .myBtn span {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 590;
}

#entry .list-items {
  position: absolute;
  top: 290px;
  left: 415px;
}

#entry .list-items li {
  margin-right: 45px;
}

#entry .list-items li a i {
  font-size: 30px;
  color: #b1adad;
}

#entry .list-items li a i:hover {
  color: #fff;
}

#digital {
  padding: 60px 0;
}

#digital .list-items li {
  color: #cfcfcf;
  width: 80px;
  font-weight: 400;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  margin-right: 28px;
  text-transform: capitalize;
  cursor: pointer;
}

#digital .list-items li:hover {
  color: #767676;
}

#digital .digital-item {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: relative;
}

#digital .digital-item .digital-text {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: right;
}

#digital .digital-item .digital-text h6 {
  position: relative;
  color: white;
  padding: 4px;
  right: 18px;
  top: 14px;
  font-weight: 600;
}

#digital .digital-item .digital-text p {
  position: relative;
  right: 20px;
  top: 15px;
  color: white;
  padding: 6px;
  font-style: italic;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#digital .digital-item:hover .overley {
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 1;
}

#delivered {
  padding: 100px 0;
}

#delivered .delivered-item h4 {
  font-size: 2em;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #343434;
  font-weight: 600;
}

#delivered .delivered-item p {
  color: #767676;
  font-size: 1.43em;
  font-weight: 400;
  line-height: 1.7em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#worker {
  padding: 100px;
}

#worker .worker-item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

#worker .worker-item img {
  max-width: 100%;
  height: auto;
}

#worker .worker-item:hover .worker-about {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#worker .worker-item .worker-about {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#worker .worker-item .worker-about .list-items {
  margin-right: 129px;
  margin-top: 303px;
}

#worker .worker-item .worker-about .list-items a {
  color: grey;
}

#worker .worker-item .worker-about .list-items a i {
  font-size: 16px;
}

#worker .worker-item .worker-about .list-items a i:hover {
  color: #fff;
}

#worker .worker-item .worker-about h5 {
  color: white;
  font-weight: 400;
  position: relative;
  top: 43%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#worker .worker-item .worker-about p {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 43%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}
/*# sourceMappingURL=style.css.map */