.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo {
  width: 100px;
  display: inline-block;
}

.nav-logo img {
  height: 32px;
  width: 78px;
}

.navbar-nav {
  padding: 10px 0;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.navbar-nav .nav-link:hover {
  color: #767676;
}

.left-nav i {
  color: #fff;
  font-size: 16px;
  margin-left: 40px;
}

.left-nav i:hover {
  color: #b1adad;
}

#entry {
  position: relative;
  background-image: url(../img/hero/hero1.jpg);
  background-attachment: fixed;
  height: 752px;
  padding: 230px 0;
  color: #fff;
}

#entry::before {
  content: '';
  background: #232323;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
}

#entry .entry-text {
  position: absolute;
  color: #fff;
  font-size: 21px;
  line-height: 1.6em;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  z-index: 4;
  top: 92px;
}

#entry .entry-img {
  position: absolute;
  width: 333px;
  bottom: 8px;
  left: 218px;
  z-index: 3;
  top: 35px;
}

#entry .myBtn {
  background-color: #425cbb;
  position: absolute;
  top: 280px;
  right: 452px;
  border-radius: 100px;
  border-color: #425cbb;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  padding: 8px 25px 8px 25px;
  z-index: 6;
}

#entry .myBtn:hover {
  color: #546cc3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#entry .myBtn span {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 590;
}

#entry .list-items {
  position: absolute;
  top: 430px;
  left: 415px;
  margin-left: -42px;
  z-index: 7;
}

#entry .list-items li {
  margin-right: 45px;
}

#entry .list-items li a i {
  font-size: 23px;
  color: #b1adad;
}

#entry .list-items li a i:hover {
  color: #fff;
}

#digital {
  padding: 60px 0;
}

#digital .list-items li {
  color: #cfcfcf;
  width: 80px;
  font-weight: 400;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  margin-right: 28px;
  text-transform: capitalize;
  cursor: pointer;
}

#digital .list-items li:hover {
  color: #767676;
}

#digital .digital-item {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  position: relative;
}

#digital .digital-item .digital-text {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: right;
}

#digital .digital-item .digital-text h6 {
  position: relative;
  color: white;
  padding: 4px;
  right: 18px;
  top: 14px;
  font-weight: 600;
}

#digital .digital-item .digital-text p {
  position: relative;
  right: 20px;
  top: 15px;
  color: white;
  padding: 6px;
  font-style: italic;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#digital .digital-item:hover .overley {
  -webkit-transition: all .6s;
  transition: all .6s;
  opacity: 1;
}

#delivered {
  padding: 100px 0;
}

#delivered .delivered-item h4 {
  font-size: 2em;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  color: #343434;
  font-weight: 600;
}

#delivered .delivered-item p {
  color: #767676;
  font-size: 1.43em;
  font-weight: 400;
  line-height: 1.7em;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#worker {
  padding: 100px;
}

#worker .worker-item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

#worker .worker-item img {
  max-width: 100%;
  height: auto;
}

#worker .worker-item:hover .worker-about {
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

#worker .worker-item .worker-about {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#worker .worker-item .worker-about .list-items {
  margin-right: 129px;
  margin-top: 303px;
}

#worker .worker-item .worker-about .list-items a {
  color: grey;
}

#worker .worker-item .worker-about .list-items a i {
  font-size: 16px;
}

#worker .worker-item .worker-about .list-items a i:hover {
  color: #fff;
}

#worker .worker-item .worker-about h5 {
  color: white;
  font-weight: 400;
  position: relative;
  top: 43%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#worker .worker-item .worker-about p {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 43%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#camera {
  position: relative;
  width: 100%;
  padding-bottom: 196px;
  background-image: url(../img/hero/hero2.jpg);
  background-attachment: fixed;
}

#camera::before {
  content: '';
  background: #232323;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0.7;
  z-index: 1;
}

#camera .camera-item {
  text-align: center;
  color: white;
}

#camera .camera-item i {
  font-size: 4em;
}

#camera .camera-item h3 {
  color: white;
  padding: 10px;
  line-height: 1.5em;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 2em;
}

#camera .camera-item h5 {
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#expert {
  padding: 100px;
}

#expert .expert-item {
  padding: 20px;
  width: 50%;
}

#expert .left-item {
  float: left;
  margin-right: 27px;
}

#expert .left-item i {
  font-size: 43px;
  color: #425cbb;
  margin-bottom: 18px;
}

#expert .right-item {
  float: left;
  position: relative;
}

#expert .right-item pre {
  color: grey;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  margin-left: 69px;
}

#expert .right-item h6 {
  color: grey;
  font-weight: 600;
  margin-bottom: 37px;
  position: absolute;
  bottom: 88px;
  left: 72px;
  font-size: 12px;
}

#dan-gibson {
  padding: 100px;
}

#dan-gibson .gibsontext {
  margin-top: 185px;
}

#dan-gibson .gibsontext p {
  color: #767676;
  line-height: 40px;
  font-size: 22px;
  margin-bottom: 48px;
  font-style: italic;
}

#dan-gibson .gibsontext h6 {
  color: #767676;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 400;
}

#dan-gibson .gibsontext h5 {
  color: #343434;
  font-size: 16px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
}

#lifestyle {
  padding: 100px;
}

#lifestyle a {
  text-decoration: none;
}

#lifestyle a .card {
  color: black;
  text-decoration: none;
}

#lifestyle a .card:hover {
  -webkit-box-shadow: 1px 3px 19px 2px rgba(0, 0, 0, 0.33);
  box-shadow: 1px 3px 19px 2px rgba(0, 0, 0, 0.33);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#lifestyle a .card .card-text {
  margin-bottom: 40px;
  font-weight: 400;
}

#lifestyle a .card span {
  color: #767676;
  font-size: 10px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

#lifestyle a .card h4 {
  font-size: 1em;
  line-height: 26px;
}

#lifestyle a .card h6 {
  color: #767676;
  font-weight: 400;
  font-size: 10px;
}

#lifestyle .btn {
  border-color: grey;
  margin-top: 60px;
  border-radius: 50px;
  padding: 10px 50px 11px 50px;
  border-width: 2px;
  line-height: 23px;
}

#lifestyle .btn:hover {
  border-color: black;
}

#lifestyle .btn .btn-text {
  letter-spacing: 1px;
  font-size: 10px;
  color: grey;
}

#bluepillar {
  padding: 100px;
  text-align: center;
}

#bluepillar .blue-text {
  margin: 6px;
}

#bluepillar .blue-text .text-item {
  display: inline-block;
  color: #fff;
  font-size: 500;
}

#bluepillar .blue-text .btn {
  border: 2px solid #fff;
  padding: 20px 40px 18px 40px;
  border-radius: 100px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  margin-left: 26px;
}

#bluepillar .blue-text .btn:hover {
  border-color: black;
}

#bluepillar .blue-text .btn-text {
  color: #fff;
  float: right;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 1px;
}

#footer {
  padding-top: 104px;
  background-color: #333333;
}

#footer span {
  font-size: 12px;
  font-family: initial;
}

#footer .footer-p {
  color: white;
  padding: 0;
  line-height: 30px;
  font-family: 'Lora', serif;
}

#footer .footer-h {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 13px;
  line-height: 10px;
  margin-top: 52px;
  margin-bottom: 30px;
}

#footer img {
  max-height: 32px;
  margin-bottom: 20px;
}

#footer .icon-list {
  letter-spacing: 7px;
  margin-left: -41px;
  margin-top: 44px;
}

#footer .right-footer .footer-form {
  margin-bottom: 5px;
}

#footer .right-footer .footer-form button {
  border-radius: 0 50px 50px 0;
  position: relative;
  background-color: blue;
  height: 52px;
  width: 60px;
  bottom: 3px;
  right: 5px;
}

#footer .right-footer .footer-form .footer-input {
  border-radius: 45px 0 0 45px;
  padding-left: 25px;
  height: 52px;
  border: none;
}

#footer #copyrighted {
  position: relative;
}

#footer #copyrighted a {
  position: absolute;
  bottom: 62px;
  font-size: 30px;
  border: 2px solid grey;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  color: white;
  background-color: grey;
}

#ab-entry {
  padding: 180px 0px;
  background-image: url(../img/hero/hero5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  top: 0;
  height: 70vh;
}

#ab-entry::before {
  content: '';
  background-color: #232323;
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1;
}

#ab-entry .about-text {
  z-index: 2;
  text-align: center;
  position: absolute;
}

#ab-entry .about-text h3 {
  color: #fff;
  font-size: 32px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  line-height: 60px;
  font-weight: 400;
}

#ab-entry .about-text p {
  color: #fff;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
}

#ab-body {
  padding: 100px 0;
  position: relative;
  bottom: 200px;
  z-index: 3;
}

#ab-body .card .card__icon {
  background: #f4f4f4;
  padding: 78px 0;
  text-align: center;
}

#ab-body .card .card__icon i {
  font-size: 64px;
  text-align: center;
}

#ab-body .card .card__body {
  position: relative;
  overflow: hidden;
  padding: 39px;
  background: #fff;
}

#ab-body .card .card__body p {
  margin-top: 26px;
  color: #767676;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 26px;
}

#ab-body .card .card__body .card__title {
  margin-bottom: 13px;
  line-height: 26px;
  font-size: 16px;
}

#ab-body .card .card__body .card__title h5 {
  font-size: 16px;
  line-height: 26px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  color: #232323;
}

#ab-foot {
  position: relative;
  background-image: url(../img/hero/hero8.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

#ab-foot::before {
  content: '';
  position: absolute;
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
}

#ab-foot h4 {
  color: #fff;
  position: absolute;
  left: 208px;
  top: 11px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 32px;
  margin-top: 90px;
  margin-bottom: 30px;
  line-height: 60px;
  z-index: 2;
}

#ab-foot .btn {
  font-size: inherit;
  background-color: #425cbb;
  position: absolute;
  top: 180px;
  right: 360px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  border-radius: 100px;
  padding: 20px 40px 17px 40px;
}

#ab-foot .btn:hover {
  background-color: #007bff;
}

#ab-foot .btn .btn-text {
  float: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
}

#cn-head {
  background-image: url(../img/hero/hero16.jpg);
  padding: 178px 0px;
  background-attachment: fixed;
  background-position: center;
  height: 70vh;
}

#cn-head::before {
  content: '';
  background: #232323;
  width: 100%;
  position: absolute;
  top: 0;
  height: 70vh;
  opacity: 0.7;
}

#cn-head .cn-item {
  position: absolute;
}

#cn-head .cn-item h3 {
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 32px;
  line-height: 57px;
}

#cn-head .cn-item p {
  color: #fff;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
}

#cn-body .body-item {
  height: 100%;
  text-align: center;
}

#cn-body .body-item i {
  font-size: 64px;
  margin-top: 100px;
}

#cn-body .body-item h4 {
  padding: 15px 0 25px 0px;
  font-size: 23px;
  line-height: 22px;
  font-weight: 900;
}

#cn-body .body-item p {
  color: #767676;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 100px;
  font-weight: 500;
}

#cn-foot {
  background: #f4f4f4;
  padding: 100px 0;
}

#cn-foot h4 {
  font-weight: 700;
}

#cn-foot .foot-item {
  left: 347px;
}

#cn-foot .foot-item input {
  border: none;
  padding-left: 65px;
  width: 106%;
  border-radius: 5px;
  height: 50px;
  line-height: inherit;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
}

#cn-foot .foot-item i {
  position: absolute;
  top: 17px;
  left: 40px;
  font-size: 20px;
  color: #767676;
}

#cn-foot .cn-message .message-item {
  border: none;
  padding-left: 15px;
  padding-top: 10px;
  border-radius: 5px;
  height: 180px;
  line-height: inherit;
  font-family: "Lora", "Helvetica", "Arial", sans-serif;
  width: 728px;
}

#cn-foot .submit {
  background-color: #425cbb;
  width: 728px;
  border: #425cbb;
  height: 50px;
  border-radius: 5px;
}

#cn-foot .submit:hover {
  border: #425cbb;
  background-color: #546ecc;
}

#cn-foot .submit p {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 10px;
  padding-top: 10px;
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */