#camera{
    padding: 100px;
    background-image: url(../img/hero/hero2.jpg);
    background-attachment: fixed;
    .camera-item{
        text-align: center;
        color: white;       
        i{
            font-size: 4em;       
        }
        h3{
            color: white;
            padding: 10px;
            line-height: 1.5em;
            font-family: $myfont;
            font-weight: 600;         
            font-size: 2em;
            
        }
        h5{
            font-family: $myfont2;
        }
    }
}

   // propertylər inspectdən götürülüb

