#footer{
    padding-top: 104px;
    background-color: #333333;
    span{
        font-size: 12px;
        font-family: initial;
    }
    .footer-p{
        color: white;
        padding: 0;
        line-height: 30px;
        font-family: 'Lora', serif;;
    }
    
    .footer-h{
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 13px;
        line-height: 10px;
        margin-top: 52px;
        margin-bottom: 30px;

    }
    img{
        max-height: 32px;
        margin-bottom: 20px;
    }
    .icon-list{
        letter-spacing: 7px;
        margin-left: -41px;
        margin-top: 44px;
    }
    .right-footer{
        .footer-form{
            margin-bottom: 5px;
            button{
                border-radius: 0 50px 50px 0;
                position: relative;
                background-color: blue;
                height: 52px;
                width: 60px;
                bottom: 3px;
                right: 5px;
            }
            .footer-input{
                border-radius: 45px 0 0 45px;
                padding-left: 25px;
                height: 52px;
                border: none;
            }
        }
    }

    #copyrighted{
        position: relative;
      .angleup{
          position: absolute;
        a{
            position: absolute;
            bottom: 62px;
            font-size: 30px;
            border: 2px solid grey;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            text-align: center;
            color: white;
            background-color: grey;

        }

      }

    }

}