$myfont: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
$primary-white: #fff;
$secondary-color : #767676 ;
$btncolor : #425cbb ;
$myfontweight: 400;
$mypfont : 'Lora', 'Helvetica', 'Arial', sans-serif;




