$myfont: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
$myfont2: 'Lora', 'Helvetica', 'Arial', sans-serif ;
$primary-white: #fff;
$secondary-color : #767676 ;
$third-color : #343434 ;
$btncolor : #425cbb ;
$myfontweight: 400;
$mysecondfont: 600;
$stabilEm: 1.5em;





